@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Open Sans", serif;
}

main {
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    margin-block: 3rem;
    margin-inline: auto;
    width: min(90%, 900px);
    gap: 1rem;
}

ul {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

li {
    list-style-position: inside;
}

ul li {
    list-style-type:none;
    margin-top: 1.5rem;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 0.75rem;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    /* text-decoration: underline; */
}

.yt_player {
    width: min(550px, 100%);
}

p {
    /* line-height: 1.5; */
    font-size: 1rem;
    line-height: 1.5;
}

/* iframe {
    margin-top: 0.5rem;
} */

